{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "es6": true,
    "mocha": false,
    "jasmine": false,
    "jquery": false
  },

  "globals": {
    "react": true
  },

  "plugins": [
    "react"
  ],

  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "react-app",
    "react-app/jest"
  ],

  "rules": {
    "arrow-parens": [1, "as-needed", {
      "requireForBlockBody": true
    }],
    "arrow-body-style": ["error", "as-needed"],
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomLabel"],
      "labelAttributes": ["inputLabel"],
      "controlComponents": ["CustomInput"],
      "assert": "either",
      "depth": 3
    }],
    "max-len": 0,
    "no-bitwise": 0,
    "no-console": 0,
    "no-labels": 0,
    "no-nonoctal-decimal-escape": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-unsafe-optional-chaining": 0,
    "no-unused-labels": 0,
    "no-unused-expressions": 0,
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0
  }
}
