.CFUserTextEncoding
.FrontDesign/
.NERDTreeBookmarks
.Trash/
.adobe/
.atom/
.avrduderc
.aws/
.babel.json
.bash*
.boot2docker/
.bundle/
.byebug_hist
.cassandra/
.cocoapods
.config/
.conscript/
.cordova/
.cups/
.dbk_info
.dbshell
.dockercfg
.docker
.dropbox*
.dvdcss/
.eaglerc
.fzf/
.gem/
.homebrew_analytics_user_uuid
.homestead
.pylint.d/
.gist
.gitk
.gittrees
.gnupg
.gore/
.gradle/
.grunt-init
.guard_history
.gvm/
.hcl/
.heroku/
.irb-history
.ivy2/
.lesshst
/.lein/*
!/.lein/profiles.clj
.lldb
.local
.m2/
.mysql_history
.netrc
.netrwhist
.node-completion/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.overtone/
.passenger/
.pearrc
.pip/
.profile
.pry_history
.psql_history
.pyenv/
.python-eggs/
.python_history
.rbenv/
.rbx
.rdebug_hist
.rediscli_history
.rnd
.ropeproject/
.ruby-gemset
.rvm/
.sbt/
.scala_history
.sh_history
.spark_history
.sqlite_history
.ssh/
.standard-cache/
.subversion
.v8*
.vagrant.d/
.vim_mru_files
.viminf*
.vim/.init.vim-rplugin~
.vim/plugged
.yarn/
.yarn-cache
.zcompdump
.zsh_history
.zshrc.d/aliases.zsh.bak

Applications*
Creative Cloud Files
Desktop/
Development
Documents*
Downloads/
Dropbox*
Dropbox/
Hightail/
HOME
Library/
Movies/
Music/
OFFICE
OJPRMBP
Pictures/
Projects
Public/
Sites
VirtualBox VMs/
derby.log
/dev/*
homestead_sites/
mbox
