!/.lein/profiles.clj
.CFUserTextEncoding
.DS_Store
.FrontDesign/
.NERDTreeBookmarks
.Trash/
.adobe/
.atom/
.avrduderc
.aws/
.babel.json
.bash*
.boot2docker/
.bundle/
.byebug_hist
.cargo/
.cassandra/
.claude*
.cocoapods
.codex/*
.config/*
.conscript/
.cordova/
.cups/
.dbk_info
.dbshell
.docker/
.dockercfg
.dvdcss/
.eaglerc
.eclipse/
.env_claude_payment_mode
.fastlane
.fauna-shell
.fzf/
.gem/
.gemini/
.gist
.gitignore.bak
.gitk
.gittrees
.gnupg
.gore/
.gradle/
.grunt-init
.guard_history
.gvm/
.hcl/
.heroku/
.homebrew_analytics_user_uuid
.homestead
.ipython
.irb-history
.ivy2/
.jenv/
.kube/
.lesshst
.lldb
.lmstudio*
.local
.m2/
.mono/
.multirust
.mysql_history
.netrc
.netrwhist
.node-completion/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.overtone/
.p2/
.passenger/
.pearrc
.pip/
.profile
.pry_history
.psql_history
.pyenv/
.pylint.d/
.python-eggs/
.python-version
.python_history
.rbenv/
.rbx
.rdebug_hist
.rediscli_history
.rmembid
.rnd
.ropeproject/
.ruby-gemset
.rustup/
.rvm/
.sbt/
.scala_history
.skaffold/
.ssh/
.sh_history
.sip_V1/
.spark_history
.sqlite_history
.ssh/*
# !.ssh/config
.standard-cache/
.subversion
.swiftpm/
.terminfo
.tmux/
.tooling/
.v8*
.vagrant.d/
.vim/autoload/plug.vim.old
.vim/.init.vim-rplugin~
.vim/plugged
.vim_mru_files
.viminf*
.vscode/
.yarn-cache
.yarn-config
.yarn/
.yarnrc
.zcompdump
.zcompcache/
.zsh_history
.zsh_sessions/
.zshrc.d/aliases.zsh.bak
/.lein/*
/.mono/
/dev/*
Applications*
Creative Cloud Files
Desktop/
Development
Documents*
Downloads/
Dropbox*
Dropbox/
HOME
Hightail/
Library/
Movies/
Music/
OFFICE
OJPRMBP
Pictures/
Projects
Public/
Sites
VirtualBox VMs/
derby.log
dylan.smith@hp.com Creative Cloud Files (enterprise)/
eclipse-workspace/
homestead_sites/
mbox
me.izo.me.error.log
me.izo.me.out.log
repos/
workbench.xmi
