snippet home "Home address"
4405 NE Irving Street
Portland, Oregon 97213
endsnippet

snippet ph "Phone number"
(503) 222-1442
endsnippet

snippet ph. "Phone number ."
503.222.1442
endsnippet

snippet ph- "Phone number -"
503-222-1442
endsnippet
