priority -50

snippet % "Variable"
[%${1:name}]$0
endsnippet

snippet a "Link"
[${1:text}](${2:link}${3: "${4:Title}"})$0
endsnippet

snippet ai "Link with reference"
[${1:text}][${2:id}]
[$2]: ${3:link} "${4:title}"$0
endsnippet

snippet im "Image with path"
![${1:alt-text}](${2:path-to-image}${3: "${4:title}"})$0
endsnippet

snippet imi "Image with referenced path"
![${1:alt-text}][${2:id}${3: "${4:Title}"}]$0
endsnippet
