priority -50

snippet p} "Twig execute block"
{% ${1:keyword} ${2} %}$0
endsnippet

snippet } "Twig print block"
{{ ${1:field} }}$0
endsnippet

snippet # "Twig comment block"
{# ${1:say something} #}
endsnippet

snippet dump "Variable dump"
{{ dump(${1:var_name}) }}
endsnippet
